@import "bootstrap.min.css";
@import "magnific-popup.css";

h1, h2, h3 {
  font-weight: 400;
}

.content-wrapper {
  background: #ecf0f5;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
  color: #fff;
}

.nav-notifications .footer {
  padding: 8px 12px;
}

.main-header .navbar .sidebar-toggle {
  display: none;

  @media only screen and (max-width: 540px) {
    display: block;

    &:before {
      content: '';
    }
  }
}

.required label:after {
  content: " *";
  color: red;
}

.select2-container--krajee {

  .select2-selection--single {
    height: 42px;
    font-size: 15px;
    padding: 13px 25px 6px 8px;
    border-radius: 0;

    .select2-selection__arrow {
      height: 40px;
    }
  }

  .select2-selection--multiple {
    height: 42px;
    font-size: 14px;
    padding: 4px 24px 6px 4px;
    border-radius: 0;

    .select2-selection__choice {
      border-radius: 0;
      font-size: 10px;
      margin: 1px 0 0 1px;
      padding: 0 2px;

      &__remove {
        margin-top: 0;
        font-size: 12px;
      }
    }
  }
}

.task {

  &-item {
    margin-bottom: 10px;

    i {
      margin-right: 5px;
    }

    a {
      &, &:hover, &:visited, &:focus {
        text-decoration: none;
        color: #333333;
        font-size: 16px;
      }
    }

    .label {
      float: right;
    }
  }
}

.box-header .box-title {
  font-weight: 600;
}

tr.bg-red {
  td a {
    color: #fff;
  }
}