#hero {

  .box {

    h1 {
      text-transform: uppercase;
    }
  }
}

.pricing .box .item-head span,
.features .items .item .item-content h4,
.pricing .box .item-features ul li,
.contact .box .item span, .contact .box .item span a,
.contact .box .item h4,
.contact .box .form-control,
.contact .output,
.one-feature .content h5,
footer p {
  text-transform: none;
}

.one-feature .image {
  text-align: center;

  img {
    width: 66%;

    @media only screen and (max-width: 540px) {
      width: 100%;
    }
  }
}

.text-left--mobile {
  @media only screen and (max-width: 540px) {
    text-align: left;
  }
}

.bg-text {
  @media only screen and (max-width: 540px) {
    display: none;
  }
}

.p100 {
  @media only screen and (max-width: 540px) {
    padding: 50px 0;
  }
}

.navbar-header {
  .navbar-brand {
    margin-top: 15px;

    @media only screen and (max-width: 540px) {
      margin-top: 10px;
    }

    &, &:hover, &:active, &:focus, &:visited {
      color: #fff;
      text-decoration: none;
    }

    img {
      margin-top: -10px;
    }
  }
}

.sticky-nav {
  padding: 10px 0 2px;

  .navbar-header {
    .navbar-brand {
      margin-top: 10px;
    }
  }
}

.g-recaptcha {
  margin: 10px auto;

  div {
    margin: 0 auto;
  }
}
