#hero .box h1 {
  text-transform: uppercase; }

.pricing .box .item-head span,
.features .items .item .item-content h4,
.pricing .box .item-features ul li,
.contact .box .item span, .contact .box .item span a,
.contact .box .item h4,
.contact .box .form-control,
.contact .output,
.one-feature .content h5,
footer p {
  text-transform: none; }

.one-feature .image {
  text-align: center; }
  .one-feature .image img {
    width: 66%; }
    @media only screen and (max-width: 540px) {
      .one-feature .image img {
        width: 100%; } }

@media only screen and (max-width: 540px) {
  .text-left--mobile {
    text-align: left; } }

@media only screen and (max-width: 540px) {
  .bg-text {
    display: none; } }

@media only screen and (max-width: 540px) {
  .p100 {
    padding: 50px 0; } }

.navbar-header .navbar-brand {
  margin-top: 15px; }
  @media only screen and (max-width: 540px) {
    .navbar-header .navbar-brand {
      margin-top: 10px; } }
  .navbar-header .navbar-brand, .navbar-header .navbar-brand:hover, .navbar-header .navbar-brand:active, .navbar-header .navbar-brand:focus, .navbar-header .navbar-brand:visited {
    color: #fff;
    text-decoration: none; }
  .navbar-header .navbar-brand img {
    margin-top: -10px; }

.sticky-nav {
  padding: 10px 0 2px; }
  .sticky-nav .navbar-header .navbar-brand {
    margin-top: 10px; }

.g-recaptcha {
  margin: 10px auto; }
  .g-recaptcha div {
    margin: 0 auto; }

/*# sourceMappingURL=new_style.css.map */
